{{#if messages.message}} 
    {{#if error}}
      <span class="flashError">{{messages.message}}</span>
      {{else}}
      <span class="flashSucces">{{messages.message}}</span>
    {{/if}}
{{/if}}
<div class="profile">
    <div class="title-container">
        <h2>Profile</h2>
        <a href="/create"><button>Post</button></a>
    </div>
        
            <div class="posts">
                <h3>Your posts</h3>
            {{#each posts}}
                <div class="post-container">
                    <h3>{{this.title}}</h3>
                    <footer><p>{{this.createdAt}}</p></footer>
                </div>  
        {{/each}}
        </div>
    </div>
</div>